@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  @apply scroll-smooth;
}

@layer base {
  @font-face {
    font-family: "Digital-7";
    src: url("../fonts/Digital7Mono-B1g5.ttf");
    font-style: normal;
  }

  @font-face {
    font-family: "Digital-7";
    src: url("../fonts/Digital7Monoitalic-8xKz.ttf");
    font-style: italic;
  }
  body {
    @apply bg-gray-800 text-gray-200 tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Montserrat];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }

  .digital7 {
    font-family: "Digital-7";
  }

  .hero-box-shadow {
    box-shadow: inset 0 0 120px #0ee7df, 0 0 10px #0ee7df;
  }

  .animate-hue-rotate {
    animation: hue-rotate 10s linear infinite;
    -webkit-animation: hue-rotate 10s linear infinite;
  }

  @-webkit-keyframes hue-rotate {
    0% {
      -webkit-filter: hue-rotate(0deg);
    }
    
    50% {
      -webkit-filter: hue-rotate(180deg);
    }
    
    100% {
      -webkit-filter: hue-rotate(0deg);
    }
  }

  @keyframes hue-rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    
    50% {
      filter: hue-rotate(180deg);
    }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }

}
